NEXT_PUBLIC_APP_NAME=DevTrail
NEXT_PUBLIC_APP_URL=http://localhost:3000

API_URL=http://localhost:8000
NEXT_PUBLIC_API_URL=http://localhost:8000

NEXT_PUBLIC_GITHUB_APP_URL=https://github.com/apps/devtrail-app-dev/installations/new